*{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    padding: 2%;
}
.btn{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 10px 5px;
}
.buttons{
    text-align: center;
    
}